pipeline/gitsource.json
{
	"name": "gitsource",
	"properties": {
		"activities": [
			{
				"name": "Forfilenames",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Validation_rawfolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_array",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy github data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "gitdataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item().folder_name",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Validation_rawfolder",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_val",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			},
			{
				"name": "web-githubmetadata",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://github.com/SoundaryaSenthil/Azure_NetflixProj/blob/main/NetflixProj%20Resources"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "web-githubmetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "githubmetadata",
					"value": {
						"value": "@activity('web-githubmetadata').output.response",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_array": {
				"type": "array",
				"defaultValue": [
					{
						"folder_name": "netflix_cast",
						"file_name": "netflix_cast.csv"
					},
					{
						"folder_name": "netflix_category",
						"file_name": "netflix_category.csv"
					},
					{
						"folder_name": "netflix_countries",
						"file_name": "netflix_countries.csv"
					},
					{
						"folder_name": "netflix_directors",
						"file_name": "netflix_directors.csv"
					}
				]
			}
		},
		"variables": {
			"githubmetadata": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-27T16:52:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}